.aboutContainer {
  padding: 20px;
  background-color: #fff3e0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.aboutTitle {
  font-size: 2rem;
  color: #e65100;
}
