.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e0f7fa;
  flex-direction: column;
  gap: 1rem;
}

.homeTitle {
  font-size: 2rem;
  color: #00796b;
}
